
/*Header*/

/* Context*/

.mainContent{
	position: relative;
}

.mainBg{
	position:absolute;
	z-index:-1;
	width:100%;
}


.bodyTitle{
	font-size:46px;
	color:#ffffff;
	padding-bottom: 10px;
}



.bodyContext{
	min-height:500px;
	background-color:#f4f4f4;
	padding:30px;
	overflow:auto;
	padding-top: 15px;
}

.bodyContextMain{
	background-color:#f4f4f4;
	/*padding:15px;*/
	padding-bottom: 50px;
}

.bodyContextSides{
	
}

.bodyContextMain table{
	width:100%;
}

.bodyContextMain ol{
	padding-left:20px;
	padding-bottom:10px;
}

.bodyContextMain .additional{
	color:#b10f1f;
}

.mainTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:20px;
	padding-top:35px;
}

.mainTitle.lg{
	font-size:36px;
}

.mainTitle.red{
	color:#b10f1f;
}

.mainImage{
	width:100%
}

/**custom tab css**/

.ui-widget.ui-widget-content{
	border:0px;
	background-color: transparent;
}

.ui-widget-content{
	border:0px;
}

.ui-tabs .ui-tabs-nav{
	padding:0px;
	border: 0px;
	border-bottom: 0px solid #b10f1f;
}

.ui-tabs .ui-tabs-nav li{
	margin:0px;
	border:0px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding:20px;
	text-transform:uppercase;
	color:#ffffff;
}

.ui-tabs .ui-tabs-panel{
	padding: 0px 0px 20px 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background-color: #151515;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background-color: #b10f1f;
	font-weight:bold;
}




.campus_tabs{
	width:100%;
}

.campus_tabs ul{
	width:100%;
}

.campus_tabs ul li{
	width:25%;
}

.campus_tabs ul li a{
	font-size:16px;
	text-align:center;
	width:100%;
}

.campus_tabs > div{
	
	
}

.tab_intro{
	font-weight:bold;
}




.campusList{
	padding:5px 0px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.campusItem{
	width:33.3%;
	box-sizing: border-box;
	padding:3px;
}

.campusItemImg{
}

.campusItemImg img{
	width:100%;
}

.campusItemContent{
	background-color:#ffffff;
	padding:15px;
}

.campusItemTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:10px;
}

.campusItemDetails{
	
}

.campusItemDetails a{
	
}

.businessTitle{
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}

p{
	margin-top:10px;
	margin-bottom:20px;
}

table.trainingProgrammes{
	
	
}

table.trainingProgrammes a, table.trainingProgrammes a:hover, table.trainingProgrammes a:visited{
	color :#000000;
	text-decoration:underline;
}

table.trainingProgrammes tr:nth-child(even){
	background: #e7e7e9;
	
}

table.trainingProgrammes tr:nth-child(odd){
	
	
}

table.trainingProgrammes th{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	padding:10px;
}
	
table.trainingProgrammes td{
	padding:10px;
	
}


.trainingProgrammesList{
	
}

.trainingProgrammesListTitle{
	text-align:center;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	background-color:#cccbc9;
	margin-top:10px;
	margin-bottom:10px;
}

.trainingProgrammesListContent{
	
}

.trainingProgrammesListContentItem{
	background-color:#ffffff;
	padding:15px;
	margin-bottom:10px;
	margin-right:10px;
	width:48%;
	float:left;
	margin-right:2%;
	position:relative;
}

.trainingProgrammesListContentItem:first-child:before{
	content: "1";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(2):before{
	content: "2";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(3):before{
	content: "3";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(4):before{
	content: "4";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItemTitle{
	color: #a00015;
    font-weight: bold;
	font-size:20px;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 10px;
    margin-bottom: 10px;
	z-index:2;
	position:relative;
}

.trainingProgrammesListContentItemContext{
	
}

.shortCourse a, .shortCourse a:visited, .shortCourse a:focus{
	color:#000000;
}


.clientList{
	margin-bottom:20px;
	margin-top:10px;
}

.clientListCol{
	float: left;
    width: 33%;
}

.clientListItem{
	background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.contactUsList{
	margin-bottom:15px;
	padding:10px 15px;
	background-color:#ffffff;
}

.contactUsListTitle{
	font-weight:bold;
	padding-bottom:5px;
}

.contactUsList table{

}
.contactUsList table tr td:first-child{
	width:150px;
}



.internationalList table{
	width:100%;
	border-spacing: 10px 10px;
    border-collapse: inherit;
	background-color:#ffffff;
}

.internationalList img{
	width:100%;
}


.businessList{
	
}

.businessList table td{
	position:relative;
}

.imgCaptionText{
	position: absolute;
	bottom:0;
	padding:10px 15px;
	color: #ffffff;
	text-shadow: 2px 2px 10px #000000;
}

.businessList table{
	width:100%;
	border-spacing: 10px 10px;
    border-collapse: inherit;
	background-color:#ffffff;
}

.businessList table tr{
	margin-bottom:10px;

}

.businessList table td{
	width:33%;
}

.businessList table td.forty{
	width:40%;
}

.businessList table td.sixty{
	width:58%;
}


.businessList table img{
	width:100%;
	
}

.businessListItem{
	padding:10px;
	padding-bottom:20px;
	vertical-align:bottom;
	font-weight:bold;
}

.businessListItem.textright{
	text-align:right;
}
.businessListItem.textleft{
	text-align:left;
}
.businessListItem.type1{
	background-color:#970617;
	color:#ffffff;
}
.businessListItem.type2{
	background-color:#635f60;
	color:#ffffff;
}
.businessListItem.type3{
	background-color:#ffffff;
	color:#970617;
}
.businessListItem.type4{
	background-color:#b20f20;
	color:#ffffff;
}
.businessListItem.type5{
	background-color:#bebcbd;
	color:#ffffff;
}
.businessListItem.type6{
	background-color:#898586;
	color:#ffffff;
}

.businessComment{
	margin-top:50px;
}
.businessCommentItem{
	display:flex;
	margin-bottom: 35px;
	
}

.businessCommentItem.reverse{
	flex-direction: row-reverse;
	
}

.businessCommentItem.reverse .businessCommentItemInfo{
	margin-left:20px;
}

.businessCommentItemInfo{
	width: 125px;
}
.businessCommentItemDetails{
	width: calc(100% - 125px);
    border-radius: 30px;
    background-color: #ffffff;
    padding: 20px 20px 20px 50px;
    margin-left: 30px;
	position:relative;
}
.businessCommentItemDetails::after{
	content: "";
    background-image: url(../images/ds_a_bg.png);
    background-repeat: no-repeat;
    display: block;
    width: 47px;
    height: 40px;
    position: absolute;
    left: -15px;
    top: -15px;
}

.businessCommentItemDetailsName{
	
	color: #af0f20;
	font-size: 20px;
	font-weight: bold;
}
.businessCommentItemDetailsProgram{

	color: #af0f20;
    
}

.businessCommentItemDetailsProgram::before{
	content:"|";
    padding-left: 10px;
	padding-right: 10px;
}


.recruitmentForm{
	padding:30px;
	background-color:#ffffff;
	width:70%;
}

.recruitmentFormContent{
	
}

.recruitmentFormTitle{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}

.recruitmentFormContent select{
	width:50px;
	height:30px;
}

.contact_person{
	width: calc(100% - 50px);
	float:right;
}

.recruitmentFormContent table{
	border-spacing: 20px;
    border-collapse: unset;
}

.recruitmentFormContent tr{
	
}

.recruitmentFormContent td{
	text-align:right;
}

.recruitmentFormContent input{
	width:100%;
	height:30px;
	line-height:30px;
	background-color: #f4f4f4;
	border:0;
}

.recruitmentFormContent td hr{
	border-top: 1px solid #b10f1f;
}

.recruitmentFormContent input[type='submit']{
	width:200px;
	color:#ffffff;
	background-color: #000000;
	padding:10px 50px;
	border:0;
	height:50px;
	float:left;
}


/*IPAD*/

@media only screen and (min-width: 992px) {

}






@media only screen and (max-width: 992px) {

	
	
}


@media only screen and (min-width: 768px) {
	
	
}




@media only screen and (max-width: 768px) {
	.recruitmentForm{
		padding:30px;
		background-color:#ffffff;
		width:100%;
	}
	
	.recruitmentFormContent input[type='submit']{
		width:auto;
		color:#ffffff;
		background-color: #000000;
		padding:10px 50px;
		border:0;
		height:50px;
		float:left;
	}
	
	.recruitmentForm table tr:first-child td:first-child{
		width:30%;
	}
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

}

@media screen and (max-width: 450px) {
    .imgCaptionText{
		font-size:12px;
		line-height:12px;
	}
}


@media only screen and (max-width: 768px){


}












