
/*Header*/

/* Context*/

.mainContent{
	position: relative;
}

.mainBg{
	position:absolute;
	z-index:-1;
	width:100%;
}


.bodyTitle{
	font-size:46px;
	color:#ffffff;
}



.bodyContext{
	min-height:500px;
	background-color:#f4f4f4;
	padding:50px;
}

.bodyContextMain{
	background-color:#ffffff;
	padding:15px;
	padding-bottom: 50px;
}

.bodyContextSides{
	
}

.bodyContextMain table{
	width:100%;
}

.bodyContextMain ol{
	padding-left:20px;
	padding-bottom:10px;
}

.bodyContextMain .additional{
	color:#b10f1f;
}

.mainTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:20px;
}

.mainTitle.red{
	color:#b10f1f;
}

.mainImage{
	width:100%
}

.mainSubTitle{
	font-size:20px;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:10px;
}


.sideLinkBox{
	width:100%;
	padding-bottom:10px;
}

.sideLinkBox a{
	width:100%;
	padding:20px;
	text-align:center;
	background-color: #123872;
	display:block;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
}

.sideLinkBox.type2 a{
	background-color:#1497f3;
}

.sideLinkBox.type4 a{
	background-color:#585858;
}

.sideBox{
	background-color:#ffffff;
	padding:15px;
}

.sideBox img{
	width:100%;
}

.sideBoxTitle{
	font-size:20px;
	font-weight:bold;
}

.sideBoxSubTitle{
	font-weight:bold;
	padding-top:20px;
}

.sideBoxTitleSubTitle2{
	font-style:italic;
	font-weight:bold;
}

.sideBoxLearMore{
	text-align:right;
	font-style:italic;
}

.sideBoxLearMore a{
	color:#000000;
	padding-right:25px;
	background: url('../images/btnIcon.png') no-repeat right center;
	background-size: 19px 19px;
	text-decoration:underline;
}

.sideBox ol{
	padding-left: 20px;
}

/*IPAD*/

@media only screen and (min-width: 992px) {

}






@media only screen and (max-width: 992px) {

	
	
}


@media only screen and (min-width: 768px) {
	
	
}




@media only screen and (max-width: 768px) {
	
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
}


@media only screen and (max-width: 768px){


}












