
/*Header*/

/* Context*/

.mainContent{
	position: relative;
}

.mainBg{
	position:absolute;
	z-index:-1;
	width:100%;
}

.mainBodyContainer{
    /*padding: 2% 50px 35px 50px;*/
}

.bodyTitle{
	font-size:46px;
	color:#ffffff;
}



.bodyContext{
	min-height:500px;
	background-color:#f4f4f4;
	padding:50px;
	overflow:auto;
}

.bodyContextMain{
	background-color:#ffffff;
	padding:15px;
	padding-bottom: 50px;
}

.bodyContextSides{
	
}

.bodyContextMain table{
	width:100%;
}

.bodyContextMain ol{
	padding-left:20px;
	padding-bottom:10px;
}

.bodyContextMain .additional{
	color:#b10f1f;
}

.bodyContextAdditional{
	padding-top:20px;
}

.bodyContextAdditional span{
	color: red;
	padding-right:5px;
}

.mainTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:20px;
}

.mainTitle.red{
	color:#b10f1f;
}

.mainTitle.grey {
	color:#7F7F7F;
}

.mainImage{
	width:100%
}

.mainSubTitle{
	font-size:20px;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:10px;
}


.sideLinkBox{
	width:100%;
	padding-bottom:10px;
}

.sideLinkBox a{
	width:100%;
	padding:20px;
	text-align:center;
	background-color: #123872;
	display:block;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
}

.sideLinkBox.type2 a{
	background-color:#1497f3;
}

.sideLinkBox.type3 {
	width:100%;
	padding:20px;
	text-align:center;
	background-color: #123872;
	display:block;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#b10f1f;
	margin-bottom: 10px;
}

.sideLinkBox.type4 a{
	background-color:#585858;
}

.sideBox{
	background-color:#ffffff;
	padding:15px;
	margin-bottom: 15px;
}

.sideBox ol{
	padding-left:15px;
}

.sideBox ol a{
	text-decoration:underline;
	color: #000000;
}

.sideBox img{
	width:100%;
}

.sideBox.type1{
	background-color: #e88d08;
}

.sideBox.type1 .sideBoxTitle{
	color:#ffffff;
}

.sideBox .noticed{
	display:inline-block;
}


.sideBoxTitle{
	font-size:20px;
	font-weight:bold;
}

.sideBoxSubTitle{
	font-weight:bold;
	padding-top:20px;
}

.sideBoxTitleSubTitle2{
	font-style:italic;
	font-weight:bold;
}

.sideBoxLearMore{
	text-align:right;
	font-style:italic;
}

.sideBoxLearMore a{
	color:#000000;
	padding-right:25px;
	background: url('../images/btnIcon.png') no-repeat right center;
	background-size: 19px 19px;
	text-decoration:underline;
}

.bodyContextAdditional{
	
}

span.keyword{
	display:inline-block;
}

span.remarks{
	font-size:12px;
	line-height: 15px;
    display: inline-block;
}

ol span.remarks{
	margin-left:-20px;
}



/*IPAD*/

@media only screen and (min-width: 992px) {

}






@media only screen and (max-width: 992px) {

	
	
}


@media only screen and (min-width: 768px) {
	
	
}




@media only screen and (max-width: 768px) {
	
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
}


@media only screen and (max-width: 768px){


}












