
/*Header*/

/* Context*/

.mainContent{
	position: relative;
}

.mainBg{
	position:absolute;
	z-index:-1;
	width:100%;
}


.bodyTitle{
	font-size:46px;
	color:#ffffff;
}



.bodyContext{
	min-height:500px;
	background-color:#f4f4f4;
	padding:30px;
	overflow:auto;
	padding-top: 15px;
}

.bodyContextMain{
	background-color:#f4f4f4;
	/*padding:15px;*/
	padding-bottom: 50px;
}

.bodyContextSides{
	
}

.bodyContextMain table{
	width:100%;
}

.bodyContextMain ol{
	padding-left:20px;
	padding-bottom:10px;
}

.bodyContextMain .additional{
	color:#b10f1f;
}

.mainTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:20px;
	padding-top:35px;
}

.mainTitle.lg{
	font-size:36px;
}

.mainTitle.red{
	color:#b10f1f;
}

.mainImage{
	width:100%
}

/**custom tab css**/

.ui-widget.ui-widget-content{
	border:0px;
	background-color: transparent;
}

.ui-widget-content{
	border:0px;
}

.ui-tabs .ui-tabs-nav{
	padding:0px;
	border: 0px;
	border-bottom: 0px solid #b10f1f;
}

.ui-tabs .ui-tabs-nav li{
	margin:0px;
	border:0px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding:20px;
	text-transform:uppercase;
	color:#ffffff;
}

.ui-tabs .ui-tabs-panel{
	padding: 0px 0px 20px 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background-color: #151515;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background-color: #b10f1f;
	font-weight:bold;
}




.campus_tabs{
	width:100%;
}

.campus_tabs ul{
	width:100%;
}

.campus_tabs ul li{
	width:25%;
}

.campus_tabs ul li a{
	font-size:16px;
	text-align:center;
	width:100%;
}

.campus_tabs > div{
	
	
}

.tab_intro{
	font-weight:bold;
}




.campusList{
	padding:5px 0px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.campusItem{
	width:33.3%;
	box-sizing: border-box;
	padding:3px;
}

.campusItemImg{
}

.campusItemImg img{
	width:100%;
}

.campusItemContent{
	background-color:#ffffff;
	padding:15px;
}

.campusItemTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:10px;
}

.campusItemDetails{
	
}

.campusItemDetails a{
	
}

.internationalTitle{
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}

p{
	margin-top:10px;
	margin-bottom:20px;
}

table.trainingProgrammes{
	
	
}

table.trainingProgrammes a, table.trainingProgrammes a:hover, table.trainingProgrammes a:visited{
	color :#000000;
	text-decoration:underline;
}

table.trainingProgrammes tr:nth-child(even){
	background: #e7e7e9;
	
}

table.trainingProgrammes tr:nth-child(odd){
	
	
}

table.trainingProgrammes th{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	padding:10px;
}
	
table.trainingProgrammes td{
	padding:10px;
	
}


.trainingProgrammesList{
	
}

.trainingProgrammesListTitle{
	text-align:center;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	background-color:#cccbc9;
	margin-top:10px;
	margin-bottom:10px;
}

.trainingProgrammesListContent{
	
}

.trainingProgrammesListContentItem{
	background-color:#ffffff;
	padding:15px;
	margin-bottom:10px;
	margin-right:10px;
	width:48%;
	float:left;
	margin-right:2%;
	position:relative;
}

.trainingProgrammesListContentItem:first-child:before{
	content: "1";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(2):before{
	content: "2";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(3):before{
	content: "3";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItem:nth-child(4):before{
	content: "4";
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    right: -10px;
    font-size: 200px;
    line-height: 143px;
    font-family: Arial;
    font-weight: bold;
    z-index: 1;
}

.trainingProgrammesListContentItemTitle{
	color: #a00015;
    font-weight: bold;
	font-size:20px;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 10px;
    margin-bottom: 10px;
	z-index:2;
	position:relative;
}

.trainingProgrammesListContentItemContext{
	
}

.shortCourse a, .shortCourse a:visited, .shortCourse a:focus{
	color:#000000;
}


.clientList{
	margin-bottom:20px;
	margin-top:10px;
}

.clientListCol{
	float: left;
    width: 33%;
}

.clientListItem{
	background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.contactUsList{
	margin-bottom:15px;
	padding:10px 15px;
	background-color:#ffffff;
}

.contactUsListTitle{
	font-weight:bold;
	padding-bottom:5px;
}

.contactUsList table{

}
.contactUsList table tr td:first-child{
	width:150px;
}



.internationalList{
	
}

.internationalListTitle{
	font-weight:bold;
	color:#b01422;
	margin-top:10px;
	margin-bottom:10px;
}

.internationalList table{
	width:100%;
	border-spacing: 10px 10px;
    border-collapse: inherit;
	background-color:#ffffff;
}

.internationalList table tr{
	margin-bottom:10px;

}

.internationalList table td{
	width:33%;
}

.internationalList table img{
	width:100%;
	
}

.internationalListItem{
	padding:10px;
	padding-bottom:20px;
	vertical-align:bottom;
	font-weight:bold;
}

.internationalListItem.textright{
	text-align:right;
}
.internationalListItem.textleft{
	text-align:left;
}
.internationalListItem.type1{
	background-color:#970617;
	color:#ffffff;
}
.internationalListItem.type2{
	background-color:#635f60;
	color:#ffffff;
}
.internationalListItem.type3{
	background-color:#ffffff;
	color:#970617;
}
.internationalListItem.type4{
	background-color:#b20f20;
	color:#ffffff;
}
.internationalListItem.type5{
	background-color:#bebcbd;
	color:#ffffff;
}
.internationalListItem.type6{
	background-color:#898586;
	color:#ffffff;
}


.programmeList{
	
}

.programmeTitle{
	font-size:24px;
	font-weight:bold;
	color: #b10f1f;
	padding-bottom:20px;
	padding-top:30px;
	/*only this page*/
	padding:0px;
}

.programmeItem{
	width:100%;
	display:table;
	background-color:#ffffff;
	margin-bottom: 15px;
	min-height:180px;
}

.programmeItemImg{
	display:table-cell;
	width:45%;
}

.programmeItemImg img{
	width:100%;
}



.programmeItemDetails{
	display:table-cell;
	padding:10px 15px 65px 15px;
	vertical-align: top;
	position: relative;
}

.programmeItemTitle{
	font-size:18px;
	font-weight:bold;
	color: #b10f1f;
}

.programmeItemCampus{
	color:#666666;
	font-size:14px;
}

.programmeItemSubTitle{
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

.programmeItemContent{
	font-size:14px;
}

.programmeItemButton{
	position: absolute;
    bottom: 10px;
}

.programmeItemButton a, .programmeItemButton a:focus, .programmeItemButton a:visited{
	padding:10px 30px;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#000000;
	color:#ffffff;
	display:inline-block;
}




/*IPAD*/

@media only screen and (min-width: 992px) {

}






@media only screen and (max-width: 992px) {

	
	
}


@media only screen and (min-width: 768px) {
	
	
}




@media only screen and (max-width: 768px) {
	.programmeItemImg{
		display:block;
		width:auto;
	}
	
	.programmeItemDetails{
		display:block;
	}
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
}


@media only screen and (max-width: 768px){


}












