
/*Header*/

/* Context*/

.mainContent{
	position: relative;
}

.mainBg{
	position:absolute;
	z-index:-1;
	width:100%;
}


.bodyTitle{
	font-size:46px;
	color:#ffffff;
}



.bodyContext{
	min-height:500px;
	background-color:#f4f4f4;
	padding:30px;
	overflow:auto;
	padding-top: 15px;
}

.bodyContextMain{
	background-color:#f4f4f4;
	/*padding:15px;*/
	padding-bottom: 50px;
}

.bodyContextSides{
	
}

.bodyContextMain table{
	width:100%;
}

.bodyContextMain ol{
	padding-left:20px;
	padding-bottom:10px;
}

.bodyContextMain .additional{
	color:#b10f1f;
}

.mainTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:20px;
	padding-top:35px;
}

.mainTitle.lg{
	font-size:36px;
}

.mainTitle.red{
	color:#b10f1f;
}

.mainImage{
	width:100%
}

/**custom tab css**/

.ui-widget.ui-widget-content{
	border:0px;
	background-color: transparent;
}

.ui-widget-content{
	border:0px;
}

.ui-tabs .ui-tabs-nav{
	padding:0px;
	border: 0px;
	border-bottom: 0px solid #b10f1f;
}

.ui-tabs .ui-tabs-nav li{
	margin:0px;
	border:0px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding:20px;
	text-transform:uppercase;
	color:#ffffff;
}

.ui-tabs .ui-tabs-panel{
	padding: 0px 0px 20px 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background-color: #151515;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background-color: #b10f1f;
	font-weight:bold;
}




.campus_tabs{
	width:100%;
}

.campus_tabs ul{
	width:100%;
}

.campus_tabs ul li{
	width:25%;
}

.campus_tabs ul li a{
	font-size:16px;
	text-align:center;
	width:100%;
}

.campus_tabs > div{
	
	
}

.tab_intro{
	font-weight:bold;
}




.campusList{
	padding:5px 0px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.campusItem{
	width:33.3%;
	box-sizing: border-box;
	padding:3px;
}

.campusItemImg{
}

.campusItemImg img{
	width:100%;
}

.campusItemContent{
	background-color:#ffffff;
	padding:15px;
}

.campusItemTitle{
	font-size:24px;
	font-weight:bold;
	padding-bottom:10px;
}

.campusItemDetails{
	
}

.campusItemDetails a{
	
}

.studyIVEBusinessTitle{
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}

p{
	margin-top:10px;
	margin-bottom:20px;
}

.progressionLadder img{
	width:100%;
	margin-top:10px;
	margin-bottom:20px;
}

.industrialAttachmentContent b, .industrialAttachmentContent li{
	line-height:30px;
}

.studentLifeList{
	margin-bottom:20px;
}

.studentLifeList table {
    width: 100%;
    border-spacing: 10px 10px;
    border-collapse: inherit;
    background-color: #ffffff;
}

.studentLifeList td {
    width: 33%;
}

.studentLifeList img {
    width: 100%;
}

.studentLifeList table td.forty{
	width:40%;
}

.studentLifeList table td.sixty{
	width:54%;
}

.careerProspectsList{
	
}

.careerProspectsList table{
	width:100%;
	width: 100%;
    border-spacing: 10px;
    border-collapse: inherit;
}

.careerProspectsList table td{
	width:33%;
	vertical-align:top;
	
}

.careerProspectsList table img{
	width:100%;
}

.careerProspectsListImgItem{
	
}

.careerProspectsListImgItem img{
	width:100%;

}

.careerProspectsListItem{
	
}

.careerProspectsListItem img{
	width:100%;
}

.careerProspectsListItemContent{
	padding:10px;
	background-color:#ffffff;
}

.careerProspectsListItemContentMore{
	padding:10px;
	font-weight:bold;
	color:#b10f1f;
	background-color:#ffffff;
}


.programmeFacilitiesList{
	
}


.programmeFacilitiesList table{
	width:100%;
	border-spacing: 0 5px;
    border-collapse: inherit;
}

.programmeFacilitiesList table tr{
	margin-bottom:10px;

}

.programmeFacilitiesList table td{
	width:33%;
}

.programmeFacilitiesList table img{
	width:100%;
	
}

.programmeFacilitiesListItem{
	padding:10px;
	padding-bottom:20px;
	vertical-align:bottom;
	font-weight:bold;
}

.programmeFacilitiesListItem.textright{
	text-align:right;
}
.programmeFacilitiesListItem.textleft{
	text-align:left;
}
.programmeFacilitiesListItem.type1{
	background-color:#970617;
	color:#ffffff;
}
.programmeFacilitiesListItem.type2{
	background-color:#635f60;
	color:#ffffff;
}
.programmeFacilitiesListItem.type3{
	background-color:#ffffff;
	color:#970617;
}
.programmeFacilitiesListItem.type4{
	background-color:#b20f20;
	color:#ffffff;
}
.programmeFacilitiesListItem.type5{
	background-color:#bebcbd;
	color:#ffffff;
}
.programmeFacilitiesListItem.type6{
	background-color:#898586;
	color:#ffffff;
}


.careerProspectsListImgItem{
	max-width:600px;
	min-width:400px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.careerProspectsListItem{
	max-width:300px;
	min-width:200px;
	padding-right: 10px;
	padding-bottom: 10px;
}


table.professionalRecognition{
	
	
}

table.professionalRecognition a, table.professionalRecognition a:hover, table.professionalRecognition a:visited{
	color :#000000;
	text-decoration:underline;
}

table.professionalRecognition tr:nth-child(even){
	
	
}

table.professionalRecognition tr:nth-child(odd){
	background: #e7e7e9;
	
}

table.professionalRecognition th{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	padding:10px;
}
	
table.professionalRecognition td{
	padding:10px;
	font-weight:bold;
}


.recruitmentForm{
	padding:30px;
	background-color:#ffffff;
	width:70%;
}

.recruitmentFormContent{
	
}

.recruitmentFormTitle{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}

.recruitmentFormContent select{
	width:50px;
	height:30px;
}

.contact_person{
	width: calc(100% - 50px);
	float:right;
}

.recruitmentFormContent table{
	border-spacing: 20px;
    border-collapse: unset;
}

.recruitmentFormContent tr{
	
}

.recruitmentFormContent td{
	text-align:right;
}

.recruitmentFormContent input{
	width:100%;
	height:30px;
	line-height:30px;
	background-color: #f4f4f4;
	border:0;
}

.recruitmentFormContent td hr{
	border-top: 1px solid #b10f1f;
}

.recruitmentFormContent input[type='submit']{
	width:200px;
	color:#ffffff;
	background-color: #000000;
	padding:10px 50px;
	border:0;
	height:50px;
	float:left;
}



/*IPAD*/

@media only screen and (min-width: 992px) {

}






@media only screen and (max-width: 992px) {

	
	
}


@media only screen and (min-width: 768px) {
	
	
}




@media only screen and (max-width: 768px) {
	.recruitmentForm{
		padding:30px;
		background-color:#ffffff;
		width:100%;
	}
	
	.recruitmentFormContent input[type='submit']{
		width:auto;
		color:#ffffff;
		background-color: #000000;
		padding:10px 50px;
		border:0;
		height:50px;
		float:left;
	}
	
	.recruitmentForm table tr:first-child td:first-child{
		width:30%;
	}
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
}


@media only screen and (max-width: 768px){


}












